# stored report files
/storage/

# python and flask ignores taken from flask documentation
.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/


# operating system files
.DS_Store
