[Unit]
Description=RES-Q Plus Backend For File Uploading

[Service]
User=mayer
WorkingDirectory=/home/mayer/backend-server/backend
ExecStart=/home/mayer/backend-server/backend/service.sh
Restart=always

[Install]
WantedBy=multi-user.target